@require "_theme.styl"

.image-button
  display: flex
  border: solid 1px red
  border-radius: 2px
  box-sizing: border-box
  width: 26px
  height: 26px
  margin: 2px
  transition: background 0.3s

  img
    margin: 2px
    width: 20px
    height: 20px

.theme-light .image-button
  border-color: L-background-default // hide border
  background-color: L-background-default
  &:hover
    border-color: L-border-default
    background-color: L-background-hover
  &:active
    background-color: L-background-active
  &.selected
    border-color: L-border-default
    background-color: L-background-selected-default
    &:hover
      background-color: L-background-selected-hover
    &:active
      background-color: L-background-selected-active

.theme-dark .image-button
  border-color: D-background-default // hide border
  background-color: D-background-default
  &:hover
    border-color: D-border-default
    background-color: D-background-hover
  &:active
    border-color: D-border-default
    background-color: D-background-active
  &.selected
    border-color: D-border-selected-default
    background-color: D-background-selected-default
    &:hover
      background-color: D-background-selected-hover
    &:active
      background-color: D-background-selected-active