doctype html
html(lang="en")
  head
    title Morph
    meta(charset="utf-8")
    script(src="../../lib/za_geom2d.min.js")
    script(src="../../src/Geom2D.dev.js")
    script(type="text/javascript").

      var renderer;
      var imageUrl = "../textures/bunny.png";
      var image;

      $.ready(init);

      function init() {
        renderer = new Geom2D.Renderer();
        document.body.appendChild(renderer.dom);

        image = new Geom2D.Image(imageUrl, Math.rand(renderer.width), Math.rand(renderer.height));
        renderer.append(image);

      }
  body
    div this is a bitmap image loaded from a png file
