doctype html
html
  head
    meta(charset="utf-8")
    title Bow Contains Point
    script(src="../../lib/za_geom2d.min.js")
    script(src="../../src/Bu.dev.js")
    script(type="text/javascript").

      var renderer;
      var bow;
      var mousePos = new Bu.Point();

      $.ready(init);

      function init() {
        renderer = new Bu.Renderer({
          container: "#container"
        });
        bow = generateBow();
        renderer.append(bow);

        renderer.dom.addEventListener("mouseup", onMouseUp);
        renderer.dom.addEventListener("mousemove", onMouseMove);
      }

      function onMouseMove(e) {
        mousePos.x = e.offsetX;
        mousePos.y = e.offsetY;

        if (bow.containsPoint(mousePos))
          bow.fillStyle = Bu.DEFAULT_FILL_STYLE_HOVER;
        else
          bow.fill();
      }

      function onMouseUp() {
        bow = renderer.shapes[0] = generateBow();
      }

      function generateBow() {
        var cx = Math.random() * (renderer.width - 60) + 30;
        var cy = Math.random() * (renderer.height - 60) + 30;
        var r = Math.random() * 200 + 20;
        var aFrom = Math.random() * Math.PI * 2;
        var aTo = aFrom + Math.random() * Math.PI + Math.PI / 2;

        var bow = new Bu.Bow(cx, cy, r, aFrom, aTo);
        bow.string.points[0].label = "A";
        bow.string.points[1].label = "B";
        return bow;
      }

  body
    div Move cursor to test. Click to change another bow.
    div#container
