doctype html
html
  head
    meta(charset="utf-8")
    title Triangle Contains Point
    script(src="../../lib/za_geom2d.min.js")
    script(src="../../src/Geom2D.dev.js")
    script(type="text/javascript").

      var renderer;
      var line;
      var mousePos = new Geom2D.Point();

      $.ready(init);

      function init() {
        renderer = new Geom2D.Renderer();
        line = new Geom2D.Line(
                Math.rand(renderer.width),
                Math.rand(renderer.height),
                Math.rand(renderer.width),
                Math.rand(renderer.height)
        );
        renderer.append(line);
        document.body.appendChild(renderer.dom);

        renderer.dom.addEventListener("mouseup", onMouseUp);
        renderer.dom.addEventListener("mousemove", onMouseMove);
      }

      function onMouseMove(e) {
        mousePos.x = e.offsetX;
        mousePos.y = e.offsetY;

        if (mousePos.isNear(line))
          line.stroke(Geom2D.DEFAULT_FILL_STYLE_HOVER);
        else
          line.stroke();
      }

      function onMouseUp(e) {
        line = renderer.shapes[0] = new Geom2D.Line(
                Math.rand(renderer.width),
                Math.rand(renderer.height),
                Math.rand(renderer.width),
                Math.rand(renderer.height)
        );
      }

  body
    div Move cursor to test. Click to change another line.
    div Not full implemented now.
