doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Bu.js demo - shapes
    script(src="../src/Bu.dev.js")
    style.

      html, body, #container {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      #info {
        position: absolute;
        width: 100%;
        line-height: 26px;
        text-align: center;
        padding: 8px 0;
      }

      #inputMove {
        width: 50px;
      }

    script(type="text/javascript").

      var bu, bunny;
      var animSpin, animHelical;
      var imageUrl = "./textures/bunny.png";

      $.ready(init);

      function init() {
        bu = new Bu({
          container: '#container',
          fillParent: true,
          border: false
        });

        bunny = new Bu.Image(imageUrl);
        bunny.scale = 2;
        bunny.translate.x = bu.width / 2;
        bunny.translate.y = bu.height / 2;

        bu.append(bunny);

        // custom animation
        animHelical = new Bu.Animation({
          duration: 2,
          init: function (anim) {
            anim.data.ox = this.translate.x;
            anim.data.oy = this.translate.y;
            anim.data.or = this.rotation;
          },
          update: function (t, data) {
            var theta = Math.PI * 8 * t;
            var radius = 300 * t;
            this.translate.x = radius * Math.cos(theta) + data.ox;
            this.translate.y = radius * Math.sin(theta) + data.oy;
            this.rotation = theta;
          },
          finish: function (anim) {
            this.translate.x = anim.data.ox;
            this.translate.y = anim.data.oy;
            this.rotation = anim.data.or;
          }
        });


        $('#prefab button').attr('onclick', 'prefabAnim(this.innerText);');
        $('#withArgs button').attr('onclick', 'bunny.animate(this.innerText, $("#inputMove").val());');
        $('#spinIn').attr('onclick', 'bunny.animate("spinIn", 2);');
        $('#helical').on('click', applyHelical);
        $('#multiple').on('click', applyMultiple);
      }

      function prefabAnim(type) {
        bunny.animate(type);
      }

      function applyHelical() {
        bunny.animate(animHelical); // first writing
      }

      function applyMultiple() {
        bunny.animate(['moveBy', 'spin'], $("#inputMove").val());
      }

  body
    div#info
      span Animation demos.
      div#prefab Prefab:
        button fadeOut
        button fadeIn
        button spin
        button spinOut
        button#spinIn spinIn
        button shake
        br
        span Toggle:
        button puff
        button clip
        button flipX
      div#withArgs With arguments:
        button#moveBy moveBy
        button#moveTo moveTo
        input(type="text" id="inputMove" name="move" value="160")
      div Custom:
        button#helical helical
      div Multiple(Mix):
        button#multiple move + spin
    div#container
