doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Bu.js demo - shapes
    script(src="../build/bu.js")
    style.
      html, body, #container {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      #info {
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 8px 0;
      }
    script(type="text/javascript").

      var bu;
      var pointText;
      var fontSheet;

      var url = 'assets/sprite-sheets/nes-font.json';
      var text = 'Hello, Bu.js!';

      $.ready(init);
      function init() {
        bu = new Bu({
          container: '#container',
          fillParent: true
        });

        pointText = new Bu.PointText();
        pointText.translate.x = 300;
        pointText.translate.y = 200;
        bu.append(pointText);

        fontSheet = new Bu.SpriteSheet(url);
        pointText.font = fontSheet;

        document.querySelector("#text").value = text;
        updateText(text);
      }

      function updateText(text) {
        pointText.text = text;
      }

  body
    div#info
      span Bitmap font implemented by sprite sheets.
      br
      label Input your text:
        input(id="text" type="text" onkeyup="updateText(this.value);")
    div#container
