doctype html
html
  head
    meta(charset="utf-8")
    title Contains Point
    script(src="../src/Bu.dev.js")
    style.

      html, body, #container {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      #info {
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 8px;
      }

    script(type="text/javascript").

      var renderer;
      var generator;
      var mousePos = new Bu.Point();

      $.ready(init);

      function init() {
        renderer = new Bu({
          container: "#container",
          showKeyPoints: true,
          fillParent: true
        });

        generator = new Bu.RandomShapeGenerator(renderer);
        generateShapes();

        renderer.dom.addEventListener("mouseup", generateShapes);
        renderer.dom.addEventListener("mousemove", onMouseMove);
      }

      function onMouseMove(e) {
        e = renderer.processArgs(e);

        mousePos.x = e.offsetX;
        mousePos.y = e.offsetY;

        for (var i in renderer.shapes) {
          if (!renderer.shapes.hasOwnProperty(i)) continue;
          var shape = renderer.shapes[i];
          if (shape.containsPoint(mousePos))
            shape.fill(Bu.DEFAULT_FILL_STYLE_HOVER);
          else
            shape.fill();
        }
      }

      function generateShapes() {
        renderer.shapes = [
          generator.generateBow(),
          generator.generateTriangle(),
          generator.generateCircle(),
          generator.generateFan(),
          generator.generatePolygon(),
        ]
      }

  body
    div#info Move cursor to test. Click to regenerate shapes.
    div#container
