doctype html
html
  head
    meta(charset="utf-8")
    title Contains Point
    script(src="../build/bu.js")
    style.

      html, body, #container {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      #info {
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 8px 0;
      }

    script(type="text/javascript").

      var bu, generator;
      var circle, triangle, rectangle, bow, fan, polygon;
      var mousePos = new Bu.Point();

      $.ready(init);

      function init() {
        bu = new Bu({
          container: "#container",
          showKeyPoints: true,
          fillParent: true
        });

        generator = new Bu.RandomShapeGenerator(bu);
        generateShapes();

        bu.dom.addEventListener("mouseup", generateShapes);
        bu.dom.addEventListener("mousemove", onMouseMove);
      }

      function onMouseMove(e) {

        mousePos.x = e.offsetX;
        mousePos.y = e.offsetY;

        for (var i in bu.shapes) {
          if (!bu.shapes.hasOwnProperty(i)) continue;
          var shape = bu.shapes[i];
          if (shape.containsPoint(mousePos))
            shape.fill(Bu.DEFAULT_FILL_STYLE_HOVER);
          else
            shape.fill();
        }
      }

      function generateShapes() {
        bu.shapes[0] = circle = generator.generateCircle();
        bu.shapes[1] = triangle = generator.generateTriangle();
        bu.shapes[2] = rectangle = generator.generateRectangle();
        bu.shapes[3] = fan = generator.generateFan();
        bu.shapes[4] = bow = generator.generateBow();
        bu.shapes[5] = polygon = generator.generatePolygon();

        // use `Bound` to accelerate containing test
        for (var i in bu.shapes) {
          if (!bu.shapes.hasOwnProperty(i)) continue;
          bu.shapes[i].bounds = new Bu.Bounds(bu.shapes[i]);
        }
      }

  body
    div#info Move cursor to test. Click to regenerate shapes.
    div#container
