doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Drag to Move Point
		script(src="../build/bu.js")
		script(src="./lib/reactor/ReactorBase.js")
		script(src="./lib/reactor/MovePointReactor.js")
		style.

			html, body {
				margin: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}

			#info {
				position: absolute;
				width: 100%;
				text-align: center;
				padding: 8px 0;
			}

		script(type="text/javascript").

			var bu = new Bu.App({
				renderer: {
					cursor: 'default',
				},
				data: {
					POINT_COUNT: 10,
					points: [],
				},
				init: function () {
					this.movePointReactor = new Bu.MovePointReactor(this.$renderer);
					this.movePointReactor.enable();

					for (var i = 0; i < this.POINT_COUNT; i++) {
						this.points[i] = new Bu.Point(Bu.rand(this.$renderer.width), Bu.rand(this.$renderer.height));
						this.points[i].label = "P" + i;
					}
					this.$renderer.scene.addChild(this.points);
				},
			});

	body
		div#info Move a point by dragging it.
