doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Drag to Move Point
    script(src="../src/Bu.dev.js")
    script(src="./lib/reactor/ReactorBase.js")
    script(src="./lib/reactor/MovePointReactor.js")
    style.

      html, body, #container {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      #info {
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 8px;
      }

    script(type="text/javascript").

      var renderer;
      var movePointReactor;

      var POINT_COUNT = 10;
      var points = [];

      $.ready(init);

      function init() {
        renderer = new Bu.Renderer({
          container: "#container",
          fillParent: true
        });
        renderer.dom.style.cursor = "default";

        movePointReactor = new Bu.MovePointReactor(renderer);
        movePointReactor.enable();

        for (var i = 0; i < POINT_COUNT; i++) {
          points[i] = new Bu.Point(
                  Bu.rand(renderer.width),
                  Bu.rand(renderer.height)
          );
          points[i].label = "P" + i;
        }
        renderer.append(points);
      }

  body
    div#info Move a point by dragging it.
    div#container
