doctype html
html(lang="en")
  head
    title Drawable Image
    meta(charset="utf-8")
    script(src="../src/Bu.dev.js")
    style.

      html, body, #container {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      #info {
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 8px 0;
      }

    script(type="text/javascript").

      var bu;
      var imageUrl = "./textures/bunny.png";
      var image;
      var speedX = 4, speedY = 4;

      $.ready(init);

      function init() {
        bu = new Bu({
          container: "#container",
          fillParent: true
        });

        image = new Bu.Image(imageUrl, 300, 200);
        image.rotation = Math.PI / 6;
        image.scale = 2;
        bu.append(image);

        setInterval(function () {
          image.rotation += 0.04;
          image.translate.x += speedX;
          image.translate.y += speedY;

          if (image.translate.x > bu.width - 40 || image.translate.x < 40) speedX = -speedX;
          if (image.translate.y > bu.height - 40 || image.translate.y < 40) speedY = -speedY;
        }, 1000 / 60);
      }

  body
    div#info This is a bitmap image loaded from a png file.
    div#container
