doctype html
html(lang="en")
  head
    title Morph
    meta(charset="utf-8")
    script(src="../src/Bu.dev.js")
    style.
      html, body, #container {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      #info {
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 8px;
      }
    script(type="text/javascript").

      var renderer;
      var imageUrl = "./textures/bunny.png";
      var image;
      var speedX = 4, speedY = 4;

      $.ready(init);

      function init() {
        renderer = new Bu.Renderer({
          container: "#container"
        });

        image = new Bu.Image(imageUrl, 300, 200);
        image.rotation = Math.PI / 6;
        image.scale.x = image.scale.y = 2;
        renderer.append(image);

        setInterval(function() {
          image.rotation += 0.04;
          if (image.position.x > renderer.width - 40 || image.position.x < 40) speedX = -speedX;
          if (image.position.y > renderer.height - 40 || image.position.y < 40) speedY = -speedY;
          image.position.x += speedX;
          image.position.y += speedY;
        }, 1000 / 60);
      }
  body
    div#info this is a bitmap image loaded from a png file
    div#container
