doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Demos
    link(rel="stylesheet" href="index.css")
    script(type="text/javascript").

      var hashPath, frame;

      document.addEventListener("DOMContentLoaded", init);

      function init() {
        frame = document.querySelector("iframe");
        window.addEventListener("hashchange", onHashChanged);
        onHashChanged();
      }

      function onHashChanged() {
        hashPath = location.hash.replace("#!/", "");
        if (hashPath.length > 0)
          frame.src = hashPath;
      }

body
    #side
      h1
        a(href="https://github.com/jarvisniu/Bu.js" target="_blank") Bu.js
        span  Examples
      h2 Shapes
      a(href="#!/draw_shapes.htm") Draw Shapes
      a(href="#!/dashed_stroke.html") Dashed Lines
      a(href="#!/image.html") Bitmap Image
      a(href="#!/drag_point.html") Drag to Move Point
      h2 Geometry
      a(href="#!/contain_test.html") Contain Point Test
      a(href="#!/line_near_point.html") Point Near Line
      a(href="#!/point_to_line_distance.html") Distance of Point To Line
      h2 Complex
      a(href="#!/delaunay_triangulation.html") Delaunay Triangulation
      a(href="#!/polyline_morph.html") Polyline Morph
      h2 Other
      a(href="#!/vue_lab.htm") Vue Lab
    #container
      iframe(name="web", src="about:blank", frameborder="0")
