doctype html
html
	head
		meta(charset="utf-8")
		title Point on Line Test
		script(src="../build/bu.js")
		style.

			html, body {
				margin: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}

			#info {
				position: absolute;
				width: 100%;
				text-align: center;
				padding: 8px 0;
			}

		script(type="text/javascript").

			var bu = new Bu.App({
				renderer: {
					showKeyPoints: true,
					cursor: 'crosshair',
				},
				data: {
					mousePos: new Bu.Point(),
					randomizer: new Bu.ShapeRandomizer(),
				},
				objects: function() {
					var line = this.randomizer.generateLine();
					var polyline= this.randomizer.generatePolyline();
					return { line, polyline, };
				},
				hierarchy: {
					line: {},
					polyline: {},
				},
				init: function () {
					this.randomizer.setRange(this.$renderer.width, this.$renderer.height);
				},
				events: {
					mouseup: function (e) {
						var o = this.$objects;
						// Randomize the lines
						this.randomizer.randomize([o.line, o.polyline]);
					},
					mousemove: function (e) {
						var o = this.$objects;

						this.mousePos.x = e.offsetX;
						this.mousePos.y = e.offsetY;

						if (this.mousePos.isNear(o.line))
							o.line.stroke(Bu.DEFAULT_STROKE_STYLE_HOVER);
						else
							o.line.stroke();

						if (this.mousePos.isNear(o.polyline))
							o.polyline.stroke(Bu.DEFAULT_STROKE_STYLE_HOVER);
						else
							o.polyline.stroke();
					},
				},
			});

	body
		div#info Move cursor over the line to test. Click to change another group of lines.
