doctype html
html
  head
    meta(charset="utf-8")
    title Triangle Contains Point
    script(src="../lib/za_geom2d.min.js")
    script(src="../src/Bu.dev.js")
    style.
      html, body, #container {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      #info {
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 8px;
      }
    script(type="text/javascript").

      var renderer, generator, line;
      var mousePos = new Bu.Point();

      $.ready(init);

      function init() {
        renderer = new Bu.Renderer({
          container: "#container"
        });
        generator = new Bu.RandomShapeGenerator(renderer);

        generateLine();

        renderer.dom.addEventListener("mouseup", generateLine);
        renderer.dom.addEventListener("mousemove", onMouseMove);
      }

      function onMouseMove(e) {
        mousePos.x = e.offsetX;
        mousePos.y = e.offsetY;

        if (mousePos.isNear(line))
          line.stroke(Bu.DEFAULT_STROKE_STYLE_HOVER);
        else
          line.stroke();
      }

      function generateLine() {
        line = renderer.shapes[0] = generator.generateLine();
      }

  body
    div#info Move cursor to test. Click to change another line. (Not full implemented now.)
    div#container
