doctype html
html
  head
    meta(charset="utf-8")
    title Distance from point to line
    script(src="../src/Bu.dev.js")
    style.
      html, body, #container {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      #info {
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 8px;
      }
    script(type="text/javascript").

      var renderer;
      var line, lineVertical;
      var mousePos = new Bu.Point();

      $.ready(init);

      function init() {
        renderer = new Bu.Renderer({
          container: "#container",
          fillParent: true
        });
        line = createLine();
        renderer.append(line);
        lineVertical = new Bu.Line();
        lineVertical.dash();
        lineVertical.points[1].label = "T";
        renderer.append(lineVertical);
        renderer.dom.addEventListener("mouseup", onMouseUp);
        renderer.dom.addEventListener("mousemove", onMouseMove);
      }

      function createLine() {
        var x1 = Math.random() * renderer.width;
        var y1 = Math.random() * renderer.height;
        var x2 = Math.random() * renderer.width;
        var y2 = Math.random() * renderer.height;
        var _line = new Bu.Line(x1, y1, x2, y2);
        _line.points[0].label = "A";
        _line.points[1].label = "B";
        return _line;
      }

      function onMouseMove(e) {
        mousePos.x = e.offsetX;
        mousePos.y = e.offsetY;
        var dist = line.distanceTo(mousePos);
        lineVertical.points[0].copy(mousePos);
        line.footPointFrom(mousePos, lineVertical.points[1]);
        lineVertical.points[0].label = "distance: " + Math.round(dist);
      }

      function onMouseUp(e) {
        line = renderer.shapes[0] = createLine();
      }

  body
    div#info Move cursor to measure distance. Click to change another line.
    div#container
