doctype html
html(lang="en")
  head
    title Morph
    meta(charset="utf-8")
    script(src="../../lib/za_geom2d.min.js")
    script(src="../../src/Bu.dev.js")
    script(type="text/javascript").

      var renderer;
      var polylineA, polylineB;
      var polylineMorph;
      var time = 0;

      $.ready(init);

      function init() {
        renderer = new Bu.Renderer({
          container: "#container"
        });
        renderer.dom.addEventListener("mousedown", onMouseDown);

        polylineA = new Bu.Polyline();
        polylineA.addPoint(new Bu.Point(100, 300));
        polylineA.addPoint(new Bu.Point(250, 100));
        polylineA.addPoint(new Bu.Point(400, 300));

        polylineB = new Bu.Polyline();
        polylineB.strokeStyle = "red";
        polylineB.addPoint(new Bu.Point(100, 400));
        polylineB.addPoint(new Bu.Point(400, 400));

        polylineMorph = new Bu.PolylineMorph(polylineA, polylineB);
        polylineMorph.polyline.strokeStyle = "purple";

        renderer.append(polylineA);
        renderer.append(polylineB);
        renderer.append(polylineMorph.polyline);

        setInterval(animate, 1000 / 60);
      }

      function onMouseDown(e) {
        if (e.button == 0) {
          polylineA.addPoint(new Bu.Point(e.offsetX, e.offsetY));
        } else {
          polylineB.addPoint(new Bu.Point(e.offsetX, e.offsetY));
        }
        polylineMorph.update();
      }

      function animate() {
        if (time < 1)
          time += 0.01;
        else
          time = 0;
        polylineMorph.setTime(time);
      }

  body
    div Click (left/right button) to add points to the lines.
    div#container
