doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Draw Circle Reactor
    script(src="../../lib/za_geom2d.min.js")
    script(src="../../src/Bu.dev.js")
    script(type='text/javascript').
      var renderer;
      var drawCircleReactor;

      function init() {

        renderer = new Bu.Renderer({
          container: "#container"
        });

        drawCircleReactor = new Bu.DrawCircleReactor(renderer);
        drawCircleReactor.enable();
      }

      $.ready(init);
  body
    div Drag to draw a circle.
    div#container
