doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Draw Point Reactor
    script(src="../../lib/za_geom2d.min.js")
    script(src="../../src/Bu.dev.js")
    script(type='text/javascript').
      var renderer;
      var drawPointReactor;
      function init() {
        renderer = new Bu.Renderer({
          container: "#container"
        });
        drawPointReactor = new Bu.DrawPointReactor(renderer);
        drawPointReactor.enable();
      }
      $.ready(init);
  body
    div Drag to draw a circle.
    div#container
