doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Draw Polygon
    script(src="../../lib/za_geom2d.min.js")
    script(src="../../src/Bu.dev.js")
    script(type="text/javascript").

      var renderer;
      var drawPolygonReactor;

      $.ready(init);

      function init() {
        // renderer
        renderer = new Bu.Renderer({
          container: "#container"
        });
        drawPolygonReactor = new Bu.DrawPolygonReactor(renderer);
        drawPolygonReactor.enable();

        $("#btnAdd").on("click", function () {
          var x = Math.rand(renderer.width);
          var y = Math.rand(renderer.height);
          var n = $("#txtN")[0].value;
          var r = $("#txtRadius")[0].value;
          renderer.append(new Bu.Polygon(x, y, n, {radius: r}));
        });
      }

  body
    div Left click to add point to the default polygon, right click to finish the current one.
    div(style="margin: 8px 0;")
      | Or add regular polygon whose
      label
        | n=
        input#txtN(type="text", style="width: 40px", value="6")
      | and
      label
        | radius=
        input#txtRadius(type="text", style="width: 40px", value="50")
      button#btnAdd Add
    div#container
