doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Dashed Stroke
    script(src="../../lib/za_geom2d.min.js")
    script(src="../../src/Bu.dev.js")
    script(type="text/javascript").

      var renderer;
      var line, triangle, rectangle, polyline, polygon;
      var isFlowOn = false;

      $.ready(init);

      function init() {
        renderer = new Bu.Renderer({
          container: "#container"
        });

        // init line
        line = new Bu.Line(
                Math.rand(renderer.width),
                Math.rand(renderer.height),
                Math.rand(renderer.width),
                Math.rand(renderer.height)
        );
        line.dash(2);
        renderer.append(line);

        // init triangle
        triangle = new Bu.Triangle(
                new Bu.Point(Math.rand(renderer.width), Math.rand(renderer.height)),
                new Bu.Point(Math.rand(renderer.width), Math.rand(renderer.height)),
                new Bu.Point(Math.rand(renderer.width), Math.rand(renderer.height))
        );
        triangle.dash(4);
        renderer.append(triangle);

        // init rectangle
        rectangle = new Bu.Rectangle(
                Math.rand(renderer.width),
                Math.rand(renderer.height),
                Math.rand(renderer.width / 2),
                Math.rand(renderer.height / 2)
        );
        rectangle.dash(8);
        renderer.append(rectangle);

        // init polygon
        polygon = new Bu.Polygon();
        for (var i = 0; i < 5; i++) {
          polygon.addPoint(new Bu.Point(
                  Math.rand(renderer.width),
                  Math.rand(renderer.height)
          ));
        }
        polygon.dash();
        polygon.stroke("red");
        renderer.append(polygon);

        // init polyline
        polyline = new Bu.Polyline();
        for (i = 0; i < 3; i++) {
          polyline.addPoint(new Bu.Point(
                  Math.rand(renderer.width),
                  Math.rand(renderer.height)
          ));
        }
        polyline.dash();
        polyline.stroke("purple");
        renderer.append(polyline);

        $("#btnStrokeFlow").on("click", function () {
          isFlowOn = !isFlowOn;
        });

        setInterval(tickFlow, 1000 / 30);
      }

      function tickFlow() {
        if (isFlowOn) {
          line.dashDelta += 1;
          rectangle.dashDelta += 2;
          polyline.dashDelta += 2;
          polygon.dashDelta += 2;
          triangle.dashDelta += 2;
        }
      }

  body
    button#btnStrokeFlow Stroke Flow
    div Dashed line stroke examples.
    div#container
