doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Draw Polyline
    script(src="../../lib/za_geom2d.min.js")
    script(src="../../src/Geom2D.dev.js")
    script(type="text/javascript").

      var renderer;
      var polyline;
      var mousePos = new Geom2D.Point();

      $.ready(init);

      function init() {
        // renderer
        renderer = new Geom2D.Renderer();
        document.body.appendChild(renderer.dom);
        // polyline
        var points = [];
        polyline = new Geom2D.Polyline(points);
        renderer.append(polyline);
        // bind events
        renderer.dom.addEventListener("mousemove", onMouseMove);
        renderer.dom.addEventListener("mousedown", onMouseDown);
      }

      function onMouseMove(e) {
        mousePos.set(e.offsetX, e.offsetY);
      }

      function onMouseDown(e) {
        polyline.addPoint(mousePos.clone());
      }

  body
    div Click to add point to the polyline.
