// L for theme-light, D for theme-dark

// background: background-color
L-background-default = rgb(232, 232, 232)
L-background-hover = rgb(209, 209, 209)
L-background-active = rgb(170, 170, 170)

L-background-selected-default = rgb(183, 183, 183)
L-background-selected-hover = L-background-selected-default
L-background-selected-active = rgb(170, 170, 170)

D-background-default = rgb(68, 68, 68)
D-background-hover = rgb(100, 100, 100)
D-background-active = rgb(50, 50, 50)

D-background-selected-default = rgb(128, 128, 128)
D-background-selected-hover = rgb(128, 128, 128)
D-background-selected-active = rgb(50, 50, 50)

// tab: background-color
L-tab-background-default = rgb(212, 212, 212)
L-tab-background-hover = rgb(232, 232, 232)
L-tab-background-active = rgb(202, 202, 202)

L-tab-background-selected-default = rgb(250, 250, 250)
L-tab-background-selected-hover = L-tab-background-selected-default
L-tab-background-selected-active = L-tab-background-selected-default

D-tab-background-default = rgb(68, 68, 68)
D-tab-background-hover = rgb(88, 88, 88)
D-tab-background-active = rgb(44, 44, 44)

D-tab-background-selected-default = rgb(128, 128, 128)
D-tab-background-selected-hover = D-tab-background-selected-default
D-tab-background-selected-active = D-tab-background-selected-default

// border: background-color
L-border-default = rgb(160, 160, 160)

D-border-default = rgb(160, 160, 160)
D-border-selected-default = rgb(172, 172, 172)

// text: color
L-text-default = rgb(5, 5, 5)
D-text-default = rgb(250, 250, 250)

// panel: background-image
L-panel-default = -webkit-linear-gradient(left, #555, #444)
D-panel-default = -webkit-linear-gradient(left, #333, #222)
